.hero {
    gap: calc(2 * var(--spacing));
    overflow: hidden;
}

.hero__message,
.hero__images-spacer {
    width: calc(28 * var(--spacing));
    min-width: 30vw;
    max-width: 95vw;
}

.hero__message {
    color: var(--color-primary);
}

.hero__cta {
    margin-top: calc(2 * var(--spacing));
}

.hero__images-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    gap: calc(2 * var(--spacing));
    z-index: -1;
}

.hero__content {
    position: relative;
}

.hero__image {
    height: 100%;
}

@media (min-width: 768px) {
    .hero__message,
    .hero__images-spacer {
        width: calc(60 * var(--spacing));
        max-width: 60vw;
    }
}
